<div id="<%= dom_id job_board %>">
  <p>
    <strong>Company name:</strong>
    <%= job_board.company_name %>
  </p>

  <p>
    <strong>Company link:</strong>
    <%= job_board.company_link %>
  </p>

  <p>
    <strong>Applied:</strong>
    <%= job_board.applied %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= job_board.position %>
  </p>

  <p>
    <strong>Date posted:</strong>
    <%= job_board.date_posted %>
  </p>

</div>
